.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #111;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar img {
  max-width: 150px;
  max-height: 55px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #ffffff;
color: #00AAFF;
}

.sidebar a:hover:not(.active) {
  background-color: #ffffff;
color: #00AAFF;
}

div.content {
  margin-left: 200px;
  padding-top: 20px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}