<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/css/main.css}">

	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" th:href="@{/css/demo.css}">
	<link rel="stylesheet" th:href="@{/css/sidebar.css}">


<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/js/models.js}"></script>
	<script th:src="@{/js/klorofil-common.js}"></script>